@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

$colors: (
    softBlue: hsl(215, 51%, 70%),
    cyan: hsl(178, 100%, 50%),
    mainBGDarkBlue: hsl(217, 54%, 11%),
    cardBGDarkBlue: hsl(216, 50%, 16%),
    lineDarkBlue: hsl(215, 32%, 27%),
    white: hsl(0, 0%, 100%)
);

@function color($color){
    @return map-get($colors, $color);
}

$fontStyles: (
    pFontSize: 18px,
    
);

* {
    margin: 0;
    padding: 0;
}

body {
   font-family: 'Outfit', sans-serif;
   background: color(mainBGDarkBlue);
}

#card {
    background: color(cardBGDarkBlue);
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 75%;
    max-width: 375px;
    padding: 1.35rem;
    border-radius: 15px;
}
#equilibrium-img{
    border-radius: 10px;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.2rem;
    border-bottom: 0.01rem solid color(lineDarkBlue);
}

#card ul li {
    display: flex;
}

img {
    max-width: 100%;
}

h2 {
    padding: 3% 0;
    color: color(white);
}

.main-text {
    padding-bottom: 3%;
}

p {
    color: color(softBlue); 
}

#ethereum-icon {
    color: color(cyan);
}

#clock-icon {
    color: color(softBlue);
}

#avatar-img {
    width: 12%;
    border: solid 2px white;
    border-radius: 50%;
    margin-top: 15px;
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}